################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PoliceCasesProject/v16
/MyPoliceWebApp/bin
/MyPoliceWebApp/obj
/Client/PoliceClientWebApp/obj
/Client/PoliceClientWebApp/bin/Release/netstandard2.1
PoliceCasesProject.sln.DotSettings.user
/Client/obj
/.vs/PoliceCasesProject/config/debuggerConfiguration-53930f85-f0b5-4981-940d-58ef6e3678fb.json
*.user
PoliceCasesProject.sln.DotSettings.user
PoliceCasesProject.sln.DotSettings.user
PoliceCasesProject.sln.DotSettings.user
/Client/bin/Debug/netstandard2.1
*.v2
.vs/PoliceCasesProject/DesignTimeBuild/.dtbcache.v2
.vs/PoliceCasesProject/config/debuggerConfiguration-76325ae1-0386-4045-97a2-272b01c4ae24.json
.vs/PoliceCasesProject/config/applicationhost.config
.vs/PoliceCasesProject/DesignTimeBuild/.dtbcache.v2
.vs/PoliceCasesProject/config/applicationhost.config
.vs/PoliceCasesProject/config/applicationhost.config
.vs/PoliceCasesProject/config/applicationhost.config
