################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PoliceCasesProject/v16
/MyPoliceWebApp/bin
/MyPoliceWebApp/obj
/Client/PoliceClientWebApp/obj
/Client/PoliceClientWebApp/bin/Release/netstandard2.1
PoliceCasesProject.sln.DotSettings.user
/Client/obj
/.vs/PoliceCasesProject/config/debuggerConfiguration-53930f85-f0b5-4981-940d-58ef6e3678fb.json
*.user
PoliceCasesProject.sln.DotSettings.user
PoliceCasesProject.sln.DotSettings.user
