################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PoliceCasesProject/v16
/MyPoliceWebApp/bin/Debug/netstandard2.1
/MyPoliceWebApp/obj
