@page "/"
@using Client.Models

<div class="text-center" style="margin-top: 25px">
    <h3 class="text-body">Welcome you to choose your career path!</h3>
    <blockquote class="text-body" style="align-content: end"> <u class="text-success">Do what you love!</u> because you can't force yourself todo something!</blockquote>
</div>

<div>
    <video src=""></video>
</div>

<div class="row" style="margin-bottom: 20px; padding: 0;">
    @{  
        var data = Paths.CarrerList();  
    }
    @for (int i = 0; i < data.Count; i++)
    {
            <div class="col-sm-3" style="margin-bottom: 20px">
                <div class="card" style="padding: 0;">
                    <div class="card-body">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1519735777090-ec97162dc266?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1115&q=80" alt="Mad about waves shampoo" />
                        <h5 class="card-title" style="margin-top:10px">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-success">Buy now</a>
                    </div>
                </div>
            </div>
    }
</div>
<footer class="modal-footer">
</footer>
