@page "/"
@using Client.Models

<div class="text-center" style="margin-top: 25px">
    <h3 class="text-body">Welcome you to choose your career path!</h3>
    <blockquote class="text-body" style="align-content: end"> <u class="text-success">Do what you love!</u> because you can't force yourself todo something!</blockquote>
</div>

<div>
    <video src=""></video>
</div>

<div class="row" style="margin-bottom: 20px; padding: 0;">
    @{  
        var data = Paths.CarrerList();  
    }
    @for (int i = 0; i < data.Count; i++)
    {
            <div class="col-sm-3" style="margin-bottom: 20px">
                <div class="card" style="padding: 0;">
                    <div class="card-body">
                        <img class="card-img-top" src="https://azkonfblob.blob.core.windows.net/konfproducts/Veirdo-100-Percent-Cotton-Green-SDL302071272-1-1ce9d.jpeg?sp=r&st=2021-03-15T19:52:21Z&se=2021-03-16T03:52:21Z&spr=https&sv=2020-02-10&sr=b&sig=03%2FBd6IqR5pQmpcsplJyrRaW6ETniveEViwLcCY5LKw%3D" alt="Mad about waves shampoo" />
                        <h5 class="card-title" style="margin-top:10px">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <a href="#" class="btn btn-success">Buy now</a>
                    </div>
                </div>
            </div>
    }
</div>
<footer class="modal-footer">
</footer>
