@inherits LayoutComponentBase

<div class="main">
    @*<div class="navbar navbar-dark bg-dark p-3" >
        <a class="nav-item" href="">Home</a>
        <a class="nav-item" href="path">Find Mentor</a>
    </div>*@
    <div class="content px-4">
        @Body
    </div>
</div>
